<div class="row">
  <div class="large-2 columns small-3">
    <img src="http://placehold.it/80x80&text=[img]"/>
  </div>
  <div class="large-10 columns">
    <h4>
      <%= check_box_tag "task_#{task.id}", nil, task.is_complete %>
      <%= link_to task.title, user_task_path(task.created_by_user, task)%>
      <div class="right">
        <small><%= link_to(task.created_by_user.first_name, task.created_by_user) %> - <%= task.get_created_at %></small>
      </div>
    </h4>

    <p><%= task.get_description %></p>

    <ul class="inline-list">
      <li><a href="">Edit</a></li>
      <li><a href="">Comment</a></li>
    </ul>

<%
=begin
    <h6>2 Comments
      <small>WIP</small>
    </h6>

    <div class="row">
      <div class="large-2 columns small-3">
        <img src="http://placehold.it/50x50&text=[img]"/>
      </div>
      <div class="large-10 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
          reprehenderit</p>
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns small-3">
        <img src="http://placehold.it/50x50&text=[img]"/>
      </div>
      <div class="large-10 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
          reprehenderit</p>
      </div>
    </div>
=end %>
  </div>
</div>