<h2>New Task for FooBar</h2>
<%= form_for @task do |f| %>
    <div>
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title, autofocus: true %>
    </div>
    <div>
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
<% end %>